/********************POPUP DIALOG**************************/
.cd-popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;

    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    z-index: 99999;
}

.cd-popup.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;

    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;

}

.is-visible .cd-popup-container {
    transform: translateY(0);
}
.cd-popup-container p {
    padding: 2em 1em;
}
.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
    text-decoration: none;
    list-style: none;
}
.cd-popup-container .cd-buttons {
    margin: 0;
    padding: 0;
}

.cd-popup-container .cd-buttons.disable {
    opacity: 0;
    visibility: hidden;
}

.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    /*text-transform: uppercase;*/
    font-family: 'Inder', cursive;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    text-decoration: none;
}
.cd-popup-container .cd-buttons li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 .25em;
}

.cd-popup-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
}
.scores {
    opacity: 0;
    visibility: hidden;
    font-family: 'Inder', cursive;
    font-size: medium;
    margin: 1em;
    text-align: left;
    list-style-type: none;
}

.scores.visible{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.scores ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20% 0 20%;
}

.scores ul li:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin: 2px;
    background: #fc7169;

}

.scores ul li span {
    margin: 2em;
}

.scores ul li p {
    display: inline;
    text-align: center;
    padding: 1em;
}

/***************************************************/
/***************** Difficulty Selection Dialog *****/
.cd-popup-selection {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;

    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.95);
    z-index: 99999;
}

.cd-popup-selection.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-selection-container {
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;

    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 35% auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;

}

.is-visible .cd-popup-selection-container {
    transform: translateY(0);
}
.cd-popup-selection-container p {
    padding: 2em 1em;
}
.cd-popup-selection-container .cd-buttons-selection li {
    float: left;
    width: 50%;
    text-decoration: none;
    list-style: none;
}
.cd-popup-selection-container .cd-buttons-selection {
    margin: 0;
    padding: 0;
}

.cd-popup-selection-container .cd-buttons-selection.disable {
    opacity: 0;
    visibility: hidden;
}

.cd-popup-selection-container .cd-buttons-selection a {
    display: block;
    height: 60px;
    line-height: 60px;
    /*text-transform: uppercase;*/
    font-family: 'Inder', cursive;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    text-decoration: none;
}
.cd-popup-selection-container .cd-buttons-selection li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 .25em;
}

.cd-popup-selection-container .cd-buttons-selection li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
}
.difficulties {
    opacity: 0;
    visibility: hidden;
    font-family: 'Inder', cursive;
    font-size: medium;
    margin: 1em;
    text-align: left;
    list-style-type: none;
}

.difficulties.visible{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.difficulties ul {
    list-style-type: none;
    margin: 0;
    padding: 20% 0 5% 0;
    text-align: center;
}

.difficulties ul li:after {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    margin: 10px;

}
.difficulties ul li span {
    margin-right: 1em;
}

.difficulties ul li p {
    display: inline;
    text-align: center;
    padding: 1em;
}

/*******************LOADER*********************/
.loader:before,
.loader:after,
.loader {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    font-size: 10px;
    margin: 20% auto 0px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader.disable {
    visibility: hidden;
    opacity: 0
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #6FDB6F;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #6FDB6F;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #6FDB6F;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #6FDB6F;
    }
}
/***************************************/