<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

        <link rel="stylesheet" type="text/css" href="../css/gameScreen.css" />
        <link rel="stylesheet" type="text/css" href="../css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="../css/notification.css" />

        <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="../cordova.js"></script>
        <script type="text/javascript" src="../js/admob.js"></script>

        <script type="text/javascript" src="../js/strings.js"></script>
        <script type="text/javascript" src="../js/navigate.js"></script>
        <script type="text/javascript" src="../js/game.js"></script>
        <script type="text/javascript" src="../js/index.js"></script>
        <script type="text/javascript" src="../js/notification.js"></script>
        <script type="text/javascript" src="../js/google-analytics.js"></script>

        <script type="text/javascript">
            function onLoad() {
                if(( /(ipad|iphone|ipod|android|windows phone)/i.test(navigator.userAgent) )) {
                    document.addEventListener('deviceready', onDeviceReady, false);
                } else {
                    onDeviceReady();
                }
            }

            // PhoneGap is loaded and it is now safe to make calls PhoneGap methods
            //
            function onDeviceReady() {
                ADMOB.initialize();
                //preppare and load ad resource in background
                ADMOB.prepareFullScreenAdv(false);
                GA.initialize();
                GA.trackView('GamePage');
            }

            window._game = new Game();
            navigation.initialize();
            navigation.setPreviousPage('../index.html');
        </script>
        <title>sorukolik!</title>
    </head>
    <body  onload="onLoad()">
        <div id="menuBanner">
            <a onclick="navigation.onBackKeyDown()" class="sideMenuButton"></a>
            <span class="appName">sorukolik</span>
        </div>
        <div class="options">
            <a  class="retry" onclick='_game.onRetryBtnClicked()'>Yeniden Oyna</a>
            <a id="passRightCount" class="pass" onclick='_game.onPassBtnClicked()'>PAS</a>
            <a  class="next" onclick='_game.onGoNextSectionBtnClicked()'>Sonraki Oyun</a>
        </div>
        <div id="applicationContainer">

            <div id="stepValue">1 / 40</div>
            <div id="stepContainer">
                <div class="cont">
                    <div id="progressBar" class="progress-bar" ></div>
                </div>
            </div>

            <div id="timerContainer">
                <i id="cross" class="icon cross"></i>
                <i id="tick" class="icon tick"></i>
                <span id="timerValue">0</span>
                <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <title>Layer 1</title>
                        <circle id="timer_circle" class="circle_animation" r="69" cy="81" cx="81" stroke-width="19" stroke="#6fdb6f" fill="#303E49"/>
                    </g>
                </svg>
            </div>
            <div id="descriptionArea"></div>
            <div id="questionArea"></div>
            <div id="notificationDialog">
                <span>Geri Sayım 4,3,2,1</span>
            </div>
            <div id="selectionButtons">
                <button id="leftButton"  class="button-secondary pure-button" onclick="_game.onButtonClick(this.id)"></button>
                <button id="rightButton" class="button-secondary pure-button" onclick="_game.onButtonClick(this.id)"></button>
            </div>
        </div>

        <div class="cd-popup" role="alert">
            <div class="cd-popup-container">
                <div class="loader disable">Loading...</div>
                <div class="scores">
                    <ul id="scores-list">
                        <!--<li style="text-align: center;">
                            <span >PUANLAR</span>
                        </li>
                        <li>
                            <span>1 - </span><p>123</p>
                        </li>-->
                    </ul>
                </div>
                <p class="message-area"></p>
                <ul class="cd-buttons">
                    <!--<li><a id="popupLeftButton" onclick='messageBox.onButtonClicked(this.id)'>Yes</a></li>-->
                    <!--<li><a id="popupRightButton" onclick='messageBox.onButtonClicked(this.id)'>No</a></li>-->
                </ul>
            </div> <!-- cd-popup-container -->
        </div> <!-- cd-popup -->

        <div class="cd-popup-info" role="alert">
            <div class="cd-popup-info-container">
                <p class="message-area-info"><span>Not : </span>Oyunun amacı soru grubunu en yüksek puanla tamamlamaktır. Tüm soruları tamamladığınızda puanınız ve sıralamanız hesaplanacaktır.</p>
                <p class="message-area-info"><span>Bilmediğiniz sorularda pas hakkınızı kullanabilirsiniz. Bol şanslar...</span></p>
                <p class="message-area-info-red"><span>Dikkat!</span> Her yanlış cevabınızda sorular en baştan sorulacaktır.</p>
                <ul class="cd-buttons-info">
                    <li style="width: 100%;"><a  onclick='onInfoClosed()'>Başla</a></li>
                </ul>
            </div> <!-- cd-popup-container -->
        </div> <!-- cd-popup -->

        <div class="cd-popup-selection visible" role="alert">
            <div class="cd-popup-selection-container">
                <div class="difficulties visible">
                    <ul id="difficulty-list">
                        <li style="text-align: center;">
                            <span >Oynamak istediğiniz zorluk seviyesini seçiniz.</span>
                        </li>
                        <li>
                            <span>Kolay </span> <input style="margin-left: 1em;" name="difficultyLevel" type="radio" id="radio_easy" checked="checked">
                        </li>
                        <li>
                            <span>Orta  </span> <input style="margin-left: 1.8em;" name="difficultyLevel" type="radio" id="radio_medium">
                        </li>
                        <li>
                            <span>Zor   </span> <input style="margin-left: 2.2em;" name="difficultyLevel" type="radio" id="radio_hard">
                        </li>
                    </ul>
                </div>
                <ul class="cd-buttons-selection">
                    <li style="width: 100%;"><a  onclick='onDifficultyLevelSelected()'>Tamam</a></li>
                </ul>
            </div> <!-- cd-popup-container -->
        </div> <!-- cd-popup -->

        <script type="text/javascript">

            var diff_level= 1;
            function onInfoClosed() {
                _game.init(diff_level);
                $('.cd-popup-info').removeClass('visible');
            }

            function onDifficultyLevelSelected()
            {
                diff_level = getSelectedDiffLevel();

                $('.cd-popup-selection').removeClass('visible');
                $('.difficulties').removeClass('visible');
                $('.cd-popup-info').addClass('visible');
            }

            function getSelectedDiffLevel()
            {
                $('.cd-popup-selection').removeClass("visible");
                $('.difficulties').removeClass("visible");
                if( document.getElementById("radio_hard").checked === true)
                {
                    return 3;
                }
                else if ( document.getElementById("radio_medium").checked === true)
                {
                    return 2;
                }
                else
                {
                    return 1;
                }
            }
        </script>
    </body>
</html>
