<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

    <link href='https://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Inder' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/howTo.css" />
    <link rel="stylesheet" type="text/css" href="../css/fonts.css" />

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="../js/strings.js"></script>
    <script type="text/javascript" src="../js/navigate.js"></script>
    <title>How To Page</title>
    <script type="application/javascript">
        navigation.initialize();
        navigation.setPreviousPage('../index.html');
    </script>
</head>
<body>
    <div id="menuBanner">
        <a onclick="navigation.onBackKeyDown()" class="sideMenuButton"></a>
        <a href="#" class="appName">bilgeç</a>
    </div>
    <div class="description">
        <p>
            Oyunu oynamak çok basit!
        </p>
            <ul>
                <li>İnternet bağlantının olduğundan emin ol !</li>
                <li>Oyun sayfasına giriş yap.</li>
                <li>Verilen süre içerisinde gelen soruları cevapla.</li>
                <li>En kısa sürede en yüksek skoru yapmaya çalış.</li>
                <li>Yanlış cevap verdiğinde aynı sorular sırasıyla yine sorulacak.</li>
            </ul>
    </div>
</body>
</html>